.flex-box {
    display: flex;

}

.flex-box-row {
    display: flex;
    flex-direction: row;
   
}


header {
    display: flex;
    height: 100px; 
    align-items: center;  
    background-color: lightgray;
   
}

header h1 {
    color: black;
    font-size: 250%; 
    padding-left: 25px;
    width: 50%;
}

header ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

header li {
    display: flex;
    border-bottom-style: solid;
    width: 85px;
    justify-content: center;
}

#text-decoration {
    color: black;
    text-decoration: none;
}

header li:hover {
    background-color: gray;
}

img {
    display: flex;
    width: 100%;
    height: 150px;
}
  
 main {
    display: flex;
    margin-top: 0px; 
 }

main section {
    width: 100%;
    height: 300px;
}

section img {
   display: flex;
   margin: auto;
   width: 10%;
   height: 200px;
}

#info {
    display: flex;
    margin: auto;
    width: 50%; 
    justify-content: center;
    align-items: center;
    
}

div > section {
    width: 100%;
}

#aside-style {
    display: flex;
    color: black;
    font-size: 200%;
    width: 20%;
    border-right-style: solid; 
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.photo-box {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 80%;
    margin: auto;
    justify-content: center;   
}

#main-photo {
    display: flex;
    width: 90%;
    height: 100%;
    border: solid gray;
    opacity: 1;
}

#main-photo:hover {
    opacity: .5;
}


div article {
    display: flex;
    width: 90%;
    height: 50%;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;  
}


#supporting-section {
    height: 50%;
    width: 50%;
    border: solid gray;
    opacity: 1;
}

#supporting-photo {
    height: 100%;
    width: 100%;
}

#supporting-section:hover img {
    opacity: .5;

}


footer {
    width: 100%;
    height: 40px;
    background-color: lightgrey;
}

footer>section {
    display: flex;
    color: black;
    font-size: 150%;
    width: 20%;
    border-right-style: solid; 
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

footer ul {
    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;

}

footer li {
    border-bottom-style: solid;
}



footer li:hover {
    background-color: gray;
}



    
@media only screen and (max-width: 768px) {

    body * {
       flex-direction: column;
}

    p {
    flex-basis: 0 10;
}

}
